@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 400px;
    width: 60vw;
}

.cv-part {
    border: 1px solid black;
}

.second-part {
    border: 1px solid black;
}

.picture {
    float: right;
    width: 20vw;
    height: 20vw;
}

.second-part section {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #23a6d5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    margin-top: 10px;
    position: sticky;
    top: 0;
    width: 100vw;
}

nav a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 20px 20px;
    text-decoration: none;
}
