@import "header.css";
@import "footer.css";

body {
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 80px 0 0 0;
    min-height: 89vh; /* Ensures the body spans the full height of the viewport */
    display: flex;
    flex-direction: column; /* Allows header, main, and footer stacking */
}

.form-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #555;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}